* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url('../assets/street.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: 100% 100%;
    margin: 0;
}

body, nav, footer {
    transition: background-color 0.3s ease;
}

footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px 4px 6px #f1f1f1;
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.274);
}

h2, p, footer, nav {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.gallery:hover {
    border: 4px solid #ffffff;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: wheat;
}

* {
    box-sizing: border-box;
}

.pic {
    width: 100% !important;
    max-height: 80vh !important;
}

.gallery {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.blur {
    border: 2px solid rgb(255, 255, 255);
    opacity: 1;
    background-color: rgb(14, 13, 13);
    width: fit-content;
    font-size: large;
    color: black !important;
    margin-top: 3vh;
    margin-left: 3vh;
    padding: 2vh;
    text-decoration: none !important;
}
